.main {
    width: 70%;
    margin-left: 15%;
}

.main-h1 {
    text-align: center;
}

.articles-section {
  width: 100%;
  overflow: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}