.main {
    width: 55%;
    margin-left: 15%;
}

.h2 {
    color: rgb(52, 72, 97);
}

.main * :not(.h2, .sign-link){
    color: rgb(159, 169, 179);
}

.sign-link {
    color: rgb(52, 72, 97);
}

.main-ul {
    background-color: rgb(243, 246, 250);
    line-height: 1.8;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
}

.header-image {
    width: 100%;
    height: 25rem;
    background-size: cover;
    background-image: url('../../images/10554833-close-up-a-pencil-in-hand-and-logic-puzzle-sudoku-.jpg');
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.blurred-image {
    filter: grayscale(36%) blur(1px) brightness(80%);
-webkit-filter: grayscale(36%) blur(1px) brightness(80%);
-moz-filter: grayscale(36%) blur(1px) brightness(80%);
}

