.main {
    width: 55%;
    margin-left: 15%;
}

.upper-options {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upper-options button {
    border: none;
    border-radius: 50%;
    padding: 10px 13px;
}

.sudoku-section {
    width: 100%;
    height: 30rem;
}


.sudoku-game-wrapper {
    display: flex;
}


.my-container {
    display: flex;
}

  .upper-options > * { 
      display: inline-block;
  }

